footer{
    width: 100%;
    border-top: red solid 4px;
}

footer .links{
    margin: 15px 0;
    text-align: center;
    font-size: 30px;
    text-indent: 5px;
}

footer p{
    text-align: center;
    margin-bottom: 2px;
}

@media screen and (min-width:1025px){
    footer{
        width: 100%;
    }
}