main{
    padding: 32px;
}

body h2{
    font-size: 25px;
}

form p{
    color: red;
}

form {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 4px 8px 1px #ccc;
}

.label-input {
    margin: 25px 0;
    height: 65px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 4px 0;
    border-radius: 4px;
}

.container-btn {
    display: flex;
    justify-content: center;
}

#continue-btn {
    text-align: center;
    padding: 5px 0;
    margin: 10px 0;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    color: orangered;
    border: orangered solid 1px;
    border-radius: 5px;
}

@media screen and (min-width:481px){
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .two-columns {
        display: flex;
        justify-content: space-around;
        width: 80%;
    }

    .columns {
        display: flex;
        flex-direction: column;
    }

    .container-btn {
        margin-top: 40px;
    }
}