main{
    padding: 32px;
}

h2{
    font-size: 25px;
}

form a {
    font-size: 16px;
}

form p{
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 4px 8px 1px #ccc;
}

.inputs {
    padding: 8px;
    margin: 8px 0 4px;
    border: #ccc;
    border-bottom: solid 3px orangered;
}

#checkbox {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.remember-forgot {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.container-btn {
    display: flex;
    justify-content: center;
}

#continue-btn {
    text-align: center;
    padding: 5px 0;
    margin: 10px 0;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    color: orangered;
    border: orangered solid 1px;
    border-radius: 5px;
}