main{
    padding: 32px;
}

body h2{
    font-size: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    box-shadow: 0px 4px 8px 1px #ccc;
}