<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix S.A.</title>
    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
        <link rel="stylesheet" type="text/css" href="../styles/styles.css">
        <link rel="stylesheet" type="text/css" href="../styles/header.css">
        <link rel="stylesheet" type="text/css" href="../styles/sign-up.css">
        <link rel="stylesheet" type="text/css" href="../styles/sidebar.css">
        <link rel="stylesheet" type="text/css" href="../styles/footer.css">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="../javascript/sign-up.js"></script>
</head>
<body>
    <header>
        <div class="p-h1">
            <p>&#8801;</p>
            <h1>Trackgenix S.A.</h1>
        </div>
        <div class="links">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-github"></a>
        </div>
    </header>
    <div id="sidebar-main">
        <aside id="sidebar">
            <form>
                <input type="text" placeholder="Search">
            </form>
            <p>Menu</p>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="login.html">Log In</a></li>
                <li><a href="#">Contact Info</a></li>
            </ul>
        </aside>
        <main>
            <div class="container">
                <h2>Sign Up</h2>
                <form>
                    <div class="two-columns">
                        <div class="columns">
                            <div class="label-input">
                                <label>Name</label>
                                <input type="text" id="name" class="inputs">
                            </div>
                            <div class="label-input">
                                <label>Surname</label>
                                <input type="text" id="surname" class="inputs">
                            </div>
                            <div class="label-input">
                                <label>DNI</label>
                                <input type="text" id="dni" class="inputs">
                            </div>
                            <div class="label-input">
                                <label>Date of birth</label>
                                <input type="text" id="dob" class="inputs">
                            </div>
                            <div class="label-input">
                                <label>Phone number</label>
                                <input type="text" id="phone-number" class="inputs">
                            </div>
                            <div class="label-input">
                                <label>Address</label>
                                <input type="text" id="address" class="inputs">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="label-input">
                                <label>City</label>
                                <input type="text" id="city" class="inputs">
                            </div>
                            <div class="label-input">
                                <label>ZIP code</label>
                                <input type="text" id="zip" class="inputs">
                            </div>
                            <div class="label-input">
                                <label>Email</label>
                                <input type="text" id="email" class="inputs">
                            </div>
                            <div class="label-input">
                                <label>Password</label>
                                <input type="password" id="password" class="inputs">
                            </div>
                            <div class="label-input">
                                <label>Repeat password</label>
                                <input type="password" id="rep-password" class="inputs">
                            </div>
                            <div class="container-btn">
                                <input type="button" value="Continue" id="continue-btn">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
    <footer>
        <div class="links">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-github"></a>
        </div>
        <p>Copyright © 2022 Trackgenix. All rights reserved.</p>
    </footer>
</body>
</html>