<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix S.A.</title>
        <link rel="stylesheet" type="text/css" href="../styles/reset.css">
        <link rel="stylesheet" type="text/css" href="../styles/styles.css">
        <link rel="stylesheet" type="text/css" href="../styles/header.css">
        <link rel="stylesheet" type="text/css" href="../styles/landing.css">
        <link rel="stylesheet" type="text/css" href="../styles/sidebar.css">
        <link rel="stylesheet" type="text/css" href="../styles/footer.css">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div class="p-h1">
                <p>&#8801;</p>
                <h1>Trackgenix S.A.</h1>
            </div>
            <div class="links">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-github"></a>
            </div>
        </header>
        <div id="sidebar-main">
            <aside id="sidebar">
                <form>
                    <input type="text" placeholder="Search">
                </form>
                <p>Menu</p>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Log In</a></li>
                    <li><a href="#">Contact Info</a></li>
                </ul>
            </aside>
            <main>
                <section id="what-is-trackgenix">
                    <div class="container-img">
                        <img src="../assets/first.jpg" alt="Trackgenix company offices">
                    </div>
                    <div id="what-is-info">
                        <h2>What is Trackgenix?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna.
                            Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique.
                            Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique.
                            Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique.
                        </p>
                        <form>
                            <input type="submit" value="Learn More" id="learn-more">
                        </form>
                    </div>
                </section>
                <section id="functionalities">
                    <h2>Functionalities</h2>
                    <div id="functionalities-items">
                        <div class="functionalities-item">
                            <i>&#128393</i>
                            <div class="h3-p">
                                <h3>Hours log</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna.
                                    Vivamus venenatis velit nec neque ultricies.
                                </p>
                            </div>
                        </div>
                        <div class="functionalities-item">
                            <i>&#9944</i>
                            <div class="h3-p">
                                <h3>Resources Management</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna.
                                    Vivamus venenatis velit nec neque ultricies.
                                </p>
                            </div>
                        </div>
                        <div class="functionalities-item">
                            <i>&#9745</i>
                            <div class="h3-p">
                                <h3>Multiple Roles</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna.
                                     Vivamus venenatis velit nec neque ultricies.
                                </p>
                            </div>
                        </div>
                        <div class="functionalities-item">
                            <i>&#9931</i>
                            <div class="h3-p">
                                <h3>Reports</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna.
                                    Vivamus venenatis velit nec neque ultricies.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="why-trackgenix">
                    <div class="container-img">
                        <img src="../assets/second.jpg" alt="Trackgenix company offices">
                    </div>
                    <div id="why-info">
                        <h2>Why Trackgenix?</h2>
                        <ul>
                            <li><a href="#">Productivity Booster</a></li>
                            <li><a href="#">Work Traceability</a></li>
                            <li><a href="#">Leadership and Team Management</a></li>
                            <li><a href="#">Decision Making</a></li>
                        </ul>
                        <form>
                            <input type="submit" value="More" id="more">
                        </form>
                    </div>
                </section>
                <section id="how-can-we-help-you">
                    <h2>How can we help you?</h2>
                    <form>
                        <div id="name-email">
                            <input type="text" placeholder="Name" class="data">
                            <input type="text" placeholder="Email" class="data" id="email">
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">Select area</button>
                            <div class="dropdown-content">
                              <a href="#">Area 1</a>
                              <a href="#">Area 2</a>
                              <a href="#">Area 3</a>
                            </div>
                          </div>
                        <input type="text" placeholder="Enter your Message" class="data" id="enter-your-message">
                        <input type="submit" value="Send Message" id="button1" class="buttons">
                        <input type="submit" value="Reset" id="button2" class="buttons">
                    </form>
                </section>
                <section id="our-history">
                    <div class="container-img">
                        <img src="../assets/third.jpg" alt="Trackgenix company offices">
                    </div>
                    <h2>Our History</h2>
                    <div id="our-history-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna.
                            Vivamus venenatis velit nec neque ultricies. Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit. Maecenas sit amet pretium urna.
                            Vivamus venenatis velit nec neque ultricies. Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit. Maecenas sit amet pretium urna.
                            Vivamus venenatis velit nec neque ultricies.
                        </p>
                    </div>
                </section>
                <section id="three-lists">
                    <div class="ol-lists">
                        <h2>Products</h2>
                        <ol>
                            <li><a href="#">Functionalities</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">Integrity</a></li>
                            <li><a href="#">Extras</a></li>
                        </ol>
                    </div>
                    <div class="ol-lists">
                        <h2>Company</h2>
                        <ol>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Customers</a></li>
                            <li><a href="#">Resources</a></li>
                            <li><a href="#">Blog</a></li>
                        </ol>
                    </div>
                    <div class="ol-lists">
                        <h2>Support</h2>
                        <ol>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Tutorials</a></li>
                            <li><a href="#">API</a></li>
                            <li><a href="#">Contact</a></li>
                        </ol>
                    </div>
                </section>
        </div>
        <footer>
            <div class="links">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-github"></a>
            </div>
            <p>Copyright © 2022 Trackgenix. All rights reserved.</p>
        </footer>
        </main>
    </body>
</html>