<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix S.A.</title>
    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
        <link rel="stylesheet" type="text/css" href="../styles/styles.css">
        <link rel="stylesheet" type="text/css" href="../styles/header.css">
        <link rel="stylesheet" type="text/css" href="../styles/login.css">
        <link rel="stylesheet" type="text/css" href="../styles/sidebar.css">
        <link rel="stylesheet" type="text/css" href="../styles/footer.css">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="../javascript/login.js"></script>
</head>
<body>
    <header>
        <div class="p-h1">
            <p>&#8801;</p>
            <h1>Trackgenix S.A.</h1>
        </div>
        <div class="links">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-github"></a>
        </div>
    </header>
    <div id="sidebar-main">
        <aside id="sidebar">
            <form>
                <input type="text" placeholder="Search">
            </form>
            <p>Menu</p>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="sign-up.html">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
                <li><a href="#">Contact Info</a></li>
            </ul>
        </aside>
        <main>
            <div class="container">
                <h2>Sign In</h2>
                <form>
                    <div id="email-password">
                        <input type="email" placeholder="Email" id="email">
                        <input type="password" placeholder="Password" id="password">
                    </div>
                    <input type="checkbox" name="remember-me">
                    <p>
                        Remember Me
                    </p>
                    <a href="#">Forgot password?</a>
                    <button id="continue-btn">Continue</button>
                </form>
            </div>
        </main>
    </div>
    <footer>
        <div class="links">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-github"></a>
        </div>
        <p>Copyright © 2022 Trackgenix. All rights reserved.</p>
    </footer>
</body>
</html>