body{
    font-family: Reboto, Poppins, Arial;
}

body h2{
    font-size: 30px;
}

body h3{
    font-size: 25px;
}

body p{
    font-size: 20px;
}

#navbar{
    float: left;
    width: 288px;
    height: 2737px;
    background-color: #ccc;
    color: #111;
    padding: 20px 16px;
    box-sizing: border-box;
}

#navbar input{
    margin-top: 10px;
    height: 30px;
    width: 245px;
}

#navbar h2{
    padding-top: 90px;
    padding-bottom: 15px;
}

#navbar ul{
    list-style: none;
}

#navbar li{
    padding-bottom: 10px;
}

a{
    color: #111;
    font-size: 20px;
    text-decoration: none;
}

header{
    padding: 23px;
    height: 50px;
    width: 1440px;
    border-bottom: red solid 4px;
}

header p{
    float: left;
    width: 3%;
    color: orangered;
    text-align: center;
    font-size: 40px;
    padding: 0px 15px;
}

header h1{
    float: center;
    color: #111;
    padding: 4px;
    font-size: 36px;
}

header .links{
    right: 30px;
    top: 50px;
    text-align: center;
    font-size: 30px;
    text-indent: 5px;
    position: absolute;
}

#what-is-trackgenix{
    padding: 50px;
    margin-left: 288px;
    height: 350px;
    margin-bottom: 50px;
    position: relative;
}

#what-is-trackgenix h2{
    top: 80px;
    left: 75px;
    width: 420px;
    height: 200px;
    position: absolute;
}

#what-is-trackgenix p{
    top: 130px;
    left: 75px;
    width: 440px;
    height: 180px;
    position: absolute;
}

#what-is-trackgenix h3{
    top: 340px;
    left: 75px;
    position: absolute;
}

#what-is-trackgenix img{
    top: 50px;
    left: 550px;
    position: absolute;
}

#functionalities{
    padding: 50px;
    margin-left: 288px;
    height: 450px;
}

.functionalities-item{
    display: inline-block;
    width: 550px;
    height: 220px;
    position: relative;
}

.functionalities-item i{
    font-size: 100px;
    top: 20px;
    left: 10px;
    position: absolute;
}

.functionalities-item h3{
    width: 300px;
    top: 20px;
    left: 140px;
    position: absolute;
}

.functionalities-item p{
    width: 300px;
    top: 60px;
    padding: 10px 0px;
    left: 140px;
    position: absolute;
}

