body{
    font-family: Reboto, Poppins, Arial;
}

#navbar{
    float: left;
    width: 15%;
    height: 2737px;
    background-color: #ccc;
    color: #111;
    padding: 20px 12px;
    box-sizing: border-box;
}

#navbar h2{
    padding-top: 50px;
    padding-bottom: 10px;
}

#navbar ul{
    list-style: none;
}

a{
    color: #111;
    text-decoration: none;
}

header{
    padding: 15px;
    padding-bottom: 5px;
    border-bottom: red solid 3px;
}

header .menu{
    float: left;
    width: 3%;
    color: orangered;
    text-align: center;
    font-size: 29px;
    /*border: #111 solid 1px;*/
}

header h1{
    float: center;
    color: #111;
    font-size: 20px;
    padding: 5px;
    /*border: #111 solid 1px;*/
}

header .links{
    top: 15px;
    right: 15px;
    text-align: center;
    font-size: 25px;
    text-indent: 5px;
    position: absolute;
    padding: 2px 20px;
    /*border: #111 solid 1px;*/
}

#what-is-trackgenix{
    padding: 30px;
    margin-left: 200px;
    height: 200px;
    margin-bottom: 50px;
    position: relative;
}

#what-is-trackgenix h2{
    top: 20px;
    left: 30px;
    width: 530px;
    height: 200px;
    position: absolute;
    /*border: #111 solid 1px;*/
}

#what-is-trackgenix p{
    top: 50px;
    left: 30px;
    width: 400px;
    height: 200px;
    position: absolute;
    /*border: #111 solid 1px;*/
}

#what-is-trackgenix h3{
    top: 135px;
    left: 30px;
    width: 530px;
    height: 200px;
    position: absolute;
    /*border: #111 solid 1px;*/
}

#what-is-trackgenix img{
    top: 50px;
    left: 530px;
    margin-left: 20px;
    height: 200px;
    position: absolute;
    /*border: #111 solid 1px;*/
}

#functionalities{
    padding: 30px;
    margin-left: 200px;
    height: 450px;
}

.functionalities-item{
    display: inline-block;
    width: 500px;
    height: 150px;
    position: relative;
}

.functionalities-item p{
    width: 150px;
    top: 20px;
    left: 150px;
    position: absolute;
}

.functionalities-item h3{
    width: 150px;
    top: 60px;
    left: 0px;
    position: absolute;
}