footer{
    border-top: red solid 4px;
    width: 100%;
}

footer .links{
    margin: 15px 0;
    text-align: center;
    font-size: 30px;
    text-indent: 5px;
}

footer p{
    text-align: center;
    margin-bottom: 2px;
}