header{
    clear: both;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    height: 40px;
    width: 100%;
    border-bottom: red solid 4px;
}

header p{
    width: 40px;
    color: orangered;
    text-align: center;
    font-size: 30px;
 }

header h1{
    color: #111;
    width: 43%;
    padding: 5px;
    font-size: 20px;
}

header .links{
    display: none;
    top: 30px;
    font-size: 30px;
    text-indent: 5px;
    padding-left: 32px;
}

@media screen and (min-width:1025px){
    header .links{
        display: block;
    }

    header{
        margin-left: 288px;
    }
}