header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    border-bottom: red solid 4px;
}

.p-h1 p{
    display: inline;
    color: orangered;
    font-size: 30px;
 }

header h1{
    display: inline;
    color: #111;
    padding-left: 10px;
    font-size: 25px;
}

.p-h1{
    margin: 10px 20px;
}

header .links{
    display: none;
    margin: 10px 20px;
    font-size: 30px;
    text-indent: 5px;
}

@media screen and (min-width:1025px){
    header .links{
        display: block;
    }

    header{
        clear: both;
        width: 100%;
    }
}