main{
    padding: 0 32px;
}

body h2{
    font-size: 25px;
}

body h3{
    font-size: 20px;
}

body p{
    font-size: 12px;
}

img{
    width: 90%;
}

section{
    width: 100%;
}

#what-is-trackgenix{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
    padding-bottom: 30px;
    border-bottom: #ccc solid 1px;
}

.container-img{
    display: flex;
    justify-content: center;
}

#what-is-trackgenix img{
    border-radius: 5px;
}

#what-is-info{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

#learn-more{
    display: none;
    text-align: center;
    padding: 5px 0;
    margin: 10px 0;
    width: 25%;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    color: orangered;
    border: orangered solid 1px;
    border-radius: 5px;
}

#functionalities{
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    padding-bottom: 30px;
    border-bottom: #ccc solid 1px;
}

#functionalities-items{
    display: flex;
    flex-direction: column;
}

.functionalities-item i{
    font-size: 60px;
}

.functionalities-item h3{
    margin-bottom: 5px;
    width: 100%;
}

#why-trackgenix{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
    padding-bottom: 30px;
    border-bottom: #ccc solid 1px;
}

#why-trackgenix img{
    border-radius: 5px;
}

#why-info{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 20px;
    width: 60%;
}

#why-info h2{
    padding-bottom: 10px;
}

#why-info a{
    font-size: 15px;
}

#more{
    padding: 5px 0;
    margin: 10px 0;
    width: 50%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    color: orangered;
    border: orangered solid 1px;
    border-radius: 5px;
}

#how-can-we-help-you{
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: #ccc solid 1px;
}

.data{
    display: block;
    padding: 12px 0;
    margin: 5px 0;
    width: 100%;
    border-radius: 4px;
}

#enter-your-message{
    padding: 35px 0;
    margin: 5px 0 15px;
}

.buttons{
    border-radius: 5px;
    margin: 2px;
}

#button1{
    text-align: center;
    padding: 4px 20px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: orangered;
    border: orangered solid 1px;
}

#button2{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 4px 20px;
    color: orangered;
    background-color: white;
    border: orangered solid 1px;
}

#our-history{
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    padding-bottom: 30px;
    width: 100%;
    border-bottom: #ccc solid 1px;
}

#our-history img, h2{
    margin-bottom: 10px;
}

#three-lists{
    display: flex;
    flex-direction: column;
}

.ol-lists{
    padding: 15px 0;
}

.ol-lists ol{
    padding: 5px 0 0 20px;
}

@media screen and (min-width:481px){
    #learn-more{
        display: block;
    }

    .functionalities-item{
        display: flex;
        padding: 10px;
    }

    .functionalities-item i{
        width: 85px;
    }

    .h3-p{
        width: 100%;
    }

    #name-email{
        display: flex;
        flex-direction: row;
        width: 100.5%;
    }

    #email{
        margin-left: 10px;
    }

    #three-lists{
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media screen and (min-width:1025px){
    body h2{
        font-size: 30px;
    }
    
    body h3{
        font-size: 25px;
    }
    
    body p{
        font-size: 15px;
    }

    #what-is-trackgenix{
        flex-direction: row-reverse;
    }

    #functionalities-items{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .functionalities-item{
        width: 45%;
    }

    #why-trackgenix{
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    #why-info a{
        font-size: 20px;
    }

    #our-history{
        flex-direction: row;
    }
}