main{
    padding: 0 32px;
}

section{
    width: 100%;
}

#what-is-trackgenix{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
    padding-bottom: 30px;
    border-bottom: #ccc solid 1px;
}

#what-is-info{
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
}

#what-is-trackgenix h3{
    display: none;
    text-align: center;
    border: orangered solid 1px;
    border-radius: 5px;
}

#what-is-trackgenix h3 a{
    color: orangered;
}

#what-is-trackgenix img{
    border-radius: 5px;
}

#functionalities{
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    padding-bottom: 30px;
    border-bottom: #ccc solid 1px;
}

#functionalities-items{
    display: flex;
    flex-direction: column;
}

.functionalities-item i{
    font-size: 60px;
}

.functionalities-item h3{
    width: 300px;
    margin-bottom: 20px;
}

#why-trackgenix{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
    padding-bottom: 30px;
    border-bottom: #ccc solid 1px;
}

#why-trackgenix img{
    border-radius: 5px;
}

#why-info{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 20px 25px;
}

#why-info h2{
    padding-bottom: 10px;
}

#why-trackgenix h3{
    text-align: center;
    padding: 4px 20px;
    border: orangered solid 1px;
    border-radius: 5px;
}

#why-trackgenix h3 a{
    color: orangered;
}

#how-can-we-help-you{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 32px 0;
    padding-bottom: 30px;
    border-bottom: #ccc solid 1px;
}

.data{
    width: 100%;
    padding: 12px 0;
    margin: 5px 0;
    display: block;
    border-radius: 4px;
}

#enter-your-message{
    padding: 35px 0;
    margin: 5px 0 15px;
}

.buttons{
    border-radius: 5px;
    margin-right: 20px;
}

#button1{
    text-align: center;
    padding: 4px 20px;
    border: orangered solid 1px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: orangered;

}

#button2{
    text-align: center;
    padding: 4px 40px;
    border: orangered solid 1px;
    color: orangered;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
}

#our-history{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 32px 0;
    padding-bottom: 30px;
    border-bottom: #ccc solid 1px;
}

#our-history img{
    margin-bottom: 10px;
}

#our-history h2{
    margin-bottom: 10px;
}


#three-lists{
    display: flex;
    flex-direction: column;
}

.ol-lists{
    padding: 15px 30px;
}

@media screen and (min-width:1025px){
    main{
        margin-left: 288px;
    }
    
    #what-is-trackgenix{
        flex-direction: row-reverse;
    }

    #functionalities-items{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .functionalities-item{
        width: 48%;
    }

    .functionalities-item p{
        width: 90%;
    }

    #why-trackgenix{
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    #name-email{
        display: flex;
        flex-direction: row;
        width: 100.3%;
    }

    #email{
        margin-left: 10px;
    }

    #three-lists{
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
}