main{
    padding: 0 32px;
}

section{
    width: 100%;
}

#what-is-trackgenix{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
    padding-bottom: 30px;
    border-bottom: #ccc solid 1px;
}

#what-is-info{
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
}

#what-is-trackgenix h3{
    display: none;
    text-align: center;
    border: orangered solid 1px;
    border-radius: 5px;
}

#what-is-trackgenix h3 a{
    color: orangered;
}

#what-is-trackgenix img{
    border-radius: 5px;
}

#functionalities{
    display: flex;
    flex-direction: column;
    border-bottom: #ccc solid 1px;
}

#functionalities-items{
    display: flex;
    flex-direction: column;
}

.functionalities-item i{
    font-size: 60px;
}

.functionalities-item h3{
    width: 300px;
    margin-bottom: 20px;
}

/* 
#why-trackgenix{
    padding: 50px;
    height: 280px;
    margin-bottom: 50px;
    position: relative;
    border-bottom: #ccc solid 1px;
}

#why-trackgenix h2{
    top: 50px;
    left: 110px;
    width: 300px;
    height: 40px;
    position: absolute;
}

#why-trackgenix ul{
    top: 100px;
    left: 135px;
    width: 400px;
    height: 180px;
    position: absolute;
}

#why-trackgenix h3{
    top: 250px;
    left: 110px;
    text-align: center;
    padding: 4px 40px;
    border: orangered solid 1px;
    border-radius: 5px;
    position: absolute;
}

#why-trackgenix h3 a{
    color: orangered;
}

#why-trackgenix img{
    top: 50px;
    left: 600px;
    border-radius: 5px;
    position: absolute;
}

#how-can-we-help-you{
    position: relative;
    padding-left: 313px;
    border-bottom: #ccc solid 1px;
}

.data{
    display: inline-block;
    height: 37px;
    width: 520px;
    margin: 15px 20px 15px 5px;
    border-radius: 4px;
}

#select-area{
    height: 37px;
    width: 1078px;
    margin-bottom: 15px;
    margin-left: 5px;
    border-radius: 4px;
}

#enter-your-message{
    height: 100px;
    width: 1078px;
    margin-bottom: 15px;
    margin-left: 5px;
    border-radius: 4px;
}

.buttons{
    display: inline-block;
    margin: 0px 20px 50px 5px;
    border-radius: 5px;
}

#button1{
    text-align: center;
    padding: 4px 40px;
    border: orangered solid 1px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: orangered;

}

#button2{
    text-align: center;
    padding: 4px 40px;
    border: orangered solid 1px;
    color: orangered;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
}

#our-history{
    padding: 25px 30px 45px 30px;
    margin: 30px 0 0 288px;
    height: 250px;
    border-bottom: #ccc solid 1px;
    position: relative;
}

#our-history h2{
    margin-bottom: 20px;
}

#our-history p{
    top: 80px;
    left: 500px;
    width: 600px;
    font-size: 15px;
    position: absolute;
}

.ol-lists{
    display: inline-block;
    padding: 50px;
    left: 230px;
    position: relative;
}

#three-lists ol{
    padding-top: 15px;
    padding-left: 25px;
} */

@media screen and (min-width:1024px){
    main{
        margin-left: 288px;
    }
    
    #what-is-trackgenix{
        flex-direction: row-reverse;
    }

    #functionalities-items{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .functionalities-item{
        width: 45%;
    }

    .functionalities-item p{
        width: 90%;
    }
}