#sidebar{
    display: none;
    padding: 20px 16px;
    width: 288px;
    background-color: #ccc;
    color: #111;
}

#sidebar input{
    display: flex;
    margin-top: 10px;
    height: 30px;
    width: 95%;
    border-radius: 4px;
}

#sidebar p{
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

#sidebar ul{
    list-style: none;
}

li{
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: #111;
}

@media screen and (min-width:1025px){
    #sidebar-main{
        display: flex;
        flex-direction: row;
    }

    #sidebar{
        display: block;
        flex: 1;
    }

    main{
        flex: 3;
    }
}